In [1]:
import pandas as pd
df = pd.read_csv("./df_concat(최종388개).csv")
df = df.dropna()
c = 0.2
df

,name,num,col,col1,col2,wish,day,price,day1,price1,...,category,high/low,W1M0,line,scrap,disrupt,X,event,prm,emb
0,(W) nike Dunk High Aluminum,DD1869-107,WHITE/ALUMINUM,white,blue,5072,2021-08-17,129000,2021-07-24,170000,...,dunk,high,w,nm,0,0,0,0,0,0
1,(W) nike Dunk High Black and White,DD1869-103,WHITE/BLACK-UNIVERSITY RED,white,black,10000,2021-05-01,129000,2021-05-01,299500,...,dunk,high,w,nm,0,0,0,0,0,0
2,(W) nike Dunk High Crimson Tint,DD1869-104,SAIL/CRIMSON TINT,white,pink,1381,2021-06-04,129000,2021-05-22,130000,...,dunk,high,w,nm,0,0,0,0,0,0
3,(W) nike Dunk High Dark Sulfur,DD1869-106,WHITE/DARK SULFUR-WHITE,white,yellow,2607,2021-04-16,129000,2021-04-16,207692,...,dunk,high,w,sp,0,0,0,0,0,0
4,(W) nike Dunk High Football Grey,DD1869-102,SAIL/FOOTBALL GREY-PALE IVORY,white,grey,5488,2021-01-07,129000,2021-01-06,166000,...,dunk,high,w,nm,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,Adidas Yeezy Boost 700 V2 Mauve,GZ0724,MAUVE/MAUVE/MAUVE,grey,grey,751,2021-09-25,309000,2021-09-25,344455,...,yeezy,low,m,nm,0,0,0,0,0,0
385,Adidas Yeezy Boost 700 Wash Orange,GW0296,WASH ORANGE/WASH ORANGE/WASH ORANGE,blue,orange,362,2021-10-15,309000,2021-10-16,324500,...,yeezy,low,m,nm,0,0,0,0,0,0
386,Adidas Yeezy QNTM Barium,H68771,BARIUM/BARIUM/BARIUM,beige,black,800,2020-06-25,329000,2020-06-25,542600,...,yeezy,low,m,nm,0,0,0,0,0,0
387,Adidas Yeezy QNTM Lifestyle,Q46473,QNTM,black,black,1294,2020-09-05,329000,2020-06-08,1250000,...,yeezy,low,m,nm,0,0,0,0,0,0
388,Adidas Yeezy QNTM Onyx,GX1317,ONYX/ONYX/ONYX,grey,black,425,2021-09-10,355100,2021-09-10,375000,...,yeezy,low,m,nm,0,0,0,0,0,0

In [2]:
df = df.drop(["name", "num","day", "day1","col"], axis = 1)

In [3]:
growth = ((df['min']-df['price1'])/df['price1'] * 100)
growth.describe()

a = growth.describe().tolist()[4]
b = growth.describe().tolist()[6]

# c = 0.9

top = b + c*(b-a)
bottom = a - c*(b-a)

df = df[(growth <= top) & (growth >= bottom)]
# df = df[df['min']>=0]
num = len(df)
df

,col1,col2,wish,price,price1,price2,price3,min,brand,category,high/low,W1M0,line,scrap,disrupt,X,event,prm,emb
0,white,blue,5072,129000,170000,150000,150750,132700,nike,dunk,high,w,nm,0,0,0,0,0,0
1,white,black,10000,129000,299500,315000,350000,214500,nike,dunk,high,w,nm,0,0,0,0,0,0
3,white,yellow,2607,129000,207692,197200,193455,160000,nike,dunk,high,w,sp,0,0,0,0,0,0
5,black,brown,892,129000,149000,149000,143000,127000,nike,dunk,high,w,nm,0,0,0,0,0,0
8,white,orange,1061,139000,150000,138000,132000,120000,nike,dunk,high,w,se,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,black,black,764,289000,420000,420000,420000,353667,adidas,yeezy,low,m,nm,0,0,0,0,0,0
383,ivory,ivory,2647,309000,622000,642000,679000,464000,adidas,yeezy,low,m,nm,0,0,0,0,0,0
384,grey,grey,751,309000,344455,343667,329760,314000,adidas,yeezy,low,m,nm,0,0,0,0,0,0
385,blue,orange,362,309000,324500,319000,319000,245000,adidas,yeezy,low,m,nm,0,0,0,0,0,0
386,beige,black,800,329000,542600,485118,525455,426000,adidas,yeezy,low,m,nm,0,0,0,0,0,0

In [4]:
# 색상값 1
df_col1 = pd.get_dummies(df['col1'], prefix = 'col1')
df_col2 = pd.get_dummies(df['col2'], prefix = 'col2')
df_co1_1 = pd.concat([df_col1 , df_col2], axis =1)

# 카테고리
df_category = pd.get_dummies(df['category'], prefix = 'category')

# 로우하이
df_high_low_mid = pd.get_dummies(df['high/low'], prefix = 'high/low/mid')

# 브랜드
df_brand = pd.get_dummies(df['brand'], prefix = 'brand')

# line
df_line = pd.get_dummies(df['line'], prefix = 'line')

# 성별
df_sex = pd.get_dummies(df['W1M0'], prefix = 'W1M0')

df_final_p = pd.concat([df_co1_1, df_category, df_high_low_mid, df_brand, df_line, df_sex], axis =1)

In [5]:
df_copy = df.copy().drop(["col1","col2","brand","category","high/low","W1M0","line"], axis = 1)
df = pd.concat([df_copy, df_final_p], axis = 1)
data = df.drop("min", axis = 1)

## PCA

In [6]:
### PCA

from sklearn.preprocessing import StandardScaler  # 표준화 패키지 라이브러리 
x = data.values # 독립변인들의 value값만 추출
y = df['min'].values # 종속변인 추출

x = StandardScaler().fit_transform(x) # x객체에 x를 표준화한 데이터를 저장

In [7]:
features = df.drop(['min'], axis=1).columns.to_list()
pd.DataFrame(x, columns=features).head()

,wish,price,price1,price2,price3,scrap,disrupt,X,event,prm,...,brand_nike,line_nm,line_og,line_qs,line_retro,line_sb,line_se,line_sp,W1M0_m,W1M0_w
0,-0.113660,-0.757165,-0.655723,-0.726972,-0.708362,0.0,-0.089622,-0.368438,-0.243047,-0.181444,...,0.6404,0.786991,-0.2037,-0.142566,-0.409197,-0.214087,-0.243047,-0.294245,-1.160084,1.160084
1,0.067814,-0.757165,-0.087955,0.008887,0.195035,0.0,-0.089622,-0.368438,-0.243047,-0.181444,...,0.6404,0.786991,-0.2037,-0.142566,-0.409197,-0.214087,-0.243047,-0.294245,-1.160084,1.160084
2,-0.204434,-0.757165,-0.490469,-0.516471,-0.514738,0.0,-0.089622,-0.368438,-0.243047,-0.181444,...,0.6404,-1.270663,-0.2037,-0.142566,-0.409197,-0.214087,-0.243047,3.398529,-1.160084,1.160084
3,-0.267589,-0.757165,-0.747793,-0.731431,-0.743501,0.0,-0.089622,-0.368438,-0.243047,-0.181444,...,0.6404,0.786991,-0.2037,-0.142566,-0.409197,-0.214087,-0.243047,-0.294245,-1.160084,1.160084
4,-0.261366,-0.605346,-0.743409,-0.780489,-0.793375,0.0,-0.089622,-0.368438,-0.243047,-0.181444,...,0.6404,-1.270663,-0.2037,-0.142566,-0.409197,-0.214087,4.114435,-0.294245,-1.160084,1.160084

In [9]:
from sklearn.decomposition import PCA
pca = PCA(n_components=5) # 주성분을 몇개로 할지 결정
printcipalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data=printcipalComponents) #columns = ['principal component1', 'principal component2']
# 주성분으로 이루어진 데이터 프레임 구성

In [10]:
pca.explained_variance_ratio_

array([0.0719764 , 0.06114787, 0.04096089, 0.0354929 , 0.0338832 ])

In [11]:
sum(pca.explained_variance_ratio_)

0.24346126104472102